<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>kmcaq | Уютное местечко Кэм</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/navbar.css">
<link rel="stylesheet" href="css/hero.css">
<link rel="stylesheet" href="css/links.css">
<link rel="stylesheet" href="css/gameshelf.css">
<link rel="stylesheet" href="css/schedule.css">

</head>

<body>

<div class="background"></div>
<div class="overlay"></div>
<div class="particles"></div>

<div id="navbar"></div>

<main>

<div id="hero"></div>

<div id="links"></div>

<div id="gameshelf"></div>

<div id="schedule"></div>

</main>

<script src="js/main.js"></script>
<script src="js/live.js"></script>
<script src="js/navbar.js"></script>
<script src="js/gameshelf.js"></script>

</body>
</html>
