<section id="links">

<h2>Мои ссылки</h2>

<div class="links">

<div class="link">

<h3>🎮 Twitch</h3>

<p>Основные трансляции.</p>

<a class="link-btn"
   href="https://www.twitch.tv/kmcaq"
   target="_blank">

Перейти

</a>

</div>

<div class="link">

<h3>▶️ YouTube VODs</h3>

<p>Записи всех стримов.</p>

<a class="link-btn"
   href="https://www.youtube.com/@kmcaq"
   target="_blank">

Перейти

</a>

</div>

<div class="link">

<h3>🏆 Tier List игр</h3>

<p>Рейтинг игр, которые я прошла или планирую пройти.</p>

<a class="link-btn"
   href="https://tiermaker.ru/tierlist/3ebb7043-e506-49db-a3d3-637b3185e6ed"
   target="_blank">

Перейти

</a>

</div>

<div class="link">

<h3>📊 Статистика игр</h3>

<p>Полный игровой прогресс.</p>

<a class="link-btn"
   href="https://www.rankone.global/kmcaq"
   target="_blank">

Перейти

</a>

</div>

<div class="link">

<h3>📢 Telegram</h3>

<p>Анонсы и новости.</p>

<a class="link-btn"
   href="https://telegram.me/kmcaq"
   target="_blank">

Перейти

</a>

</div>

<div class="link">

<h3>✉️ Сотрудничество</h3>

<p>Почта для связи.</p>

<div class="email">
kmcaq_kp@vk.com
</div>

</div>

</div>

</section>
